$Font-primary: "Roboto Condensed", Sans-serif;
$Font-secondary: "Arima", Sans-serif;
$Color-primary: #fff;
$Color-secondary: #aaa;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;

.home {
  // width: 100vw;
  height: 100vh;
  background-image: url(../../assets/home/background-home-desktop.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40vh auto;
  grid-column-gap: 3rem;

  @media only screen and (max-width: $bp-medium) {
    background-image: url(../../assets/home/background-home-tablet.jpg);
    grid-template-rows: 40vh auto auto;
    justify-items: center;
    align-content: center;
    text-align: center;
  }
}

.home-content {
  color: #fff;
  padding: 2rem 1rem 12rem 16rem;
  grid-column: 1/2;
  grid-row: 2/-1;
  justify-self: center;
  align-self: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding: 2rem;
  }
  // &:not(:last-of-type) {
  //   margin-bottom: 2rem;
  // }
  &-h3 {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  &-h1 {
    text-transform: uppercase;
    font-size: 10rem;
    margin-bottom: 2rem;
  }
  &-p {
    line-height: 3rem;
  }
}
.home-cta {
  padding-bottom: 16rem;
  padding-right: 15rem;
  grid-column: 2/-1;
  grid-row: 2/-1;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
    grid-row: 3/-1;
    padding-bottom: 16rem;
    padding-right: 0;
  }
}
.home-cta-content {
  text-transform: uppercase;
  background-color: #fff;
  padding: 7rem 4rem;
  border-radius: 50%;
}
