$Font-primary: "Roboto Condensed", Sans-serif;
$Font-secondary: "Arima", Sans-serif;
$Color-primary: #fff;
$Color-secondary: #aaa;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;

.destination-img {
  grid-column: 1/-1;
  grid-row: 3/4;
  //   background-image: url("../../assets/destination/image-moon.png");
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  position: relative;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
    grid-row: 3/4;
    justify-content: center;
  }
  // align-items: center;
}
.planets {
  // display: none;
  position: absolute;
  // width: 70vh;
  // height: 70vh;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  @media only screen and (max-width: $bp-medium) {
    // top: 0;
    padding-bottom: 2rem;
    // left: 35%;
  }
}

.planet {
  // height: 30rem;
  // position: absolute;
  width: 30vh;
  height: 30vh;
  // background-color: rgb(89, 178, 208);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 150% 150%;
  // background-position: 0;
  box-shadow: inset 0 0 20px #023e5c, 0 0 120px #023e5c;
  animation: planet 40s linear infinite;
  @media only screen and (max-width: $bp-medium) {
    height: 20rem;
    width: 20rem;
  }
  @media only screen and (max-width: $bp-small) {
    height: 15rem;
    width: 15rem;
  }
}

@keyframes planet {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 70%;
  }
}

.active-image {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  transform: scale(1.3) translateX(0);
  transition: all 1s ease;
  opacity: 1;
  position: relative;
  // margin: 0 auto;
}
.next-image {
  display: block;
  opacity: 1;
  grid-column: 3/4;
  grid-row: 1/2;
  transform: scale(0.5) translateX(100%);
  transition: all 1s ease;
  position: relative;
  @media only screen and (max-width: $bp-small) {
    transform: scale(0.5) translateX(70%);
  }
}
.previous-image {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 1;
  transform: scale(0.5) translateX(-100%);
  transition: all 1s ease;
  position: relative;
  @media only screen and (max-width: $bp-small) {
    transform: scale(0.5) translateX(-70%);
  }
}
