$Font-primary: "Roboto Condensed", Sans-serif;
$Font-secondary: "Arima", Sans-serif;
$Color-primary: #fff;
$Color-secondary: #aaa;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;

.destination-data {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    padding: 0 3rem 0 3rem;
  }
}
.data-title {
  font-size: 4rem;
  padding: 1rem 0;
  text-transform: uppercase;
  @media only screen and (max-width: $bp-medium) {
    font-size: 5rem;
  }
}
.destination-text {
  padding: 1rem;
  text-align: center;
  // line-height: 1.5;
  font-size: 1.6rem;
  border-bottom: 2px solid #fff;
  @media only screen and (max-width: $bp-medium) {
    padding: 1rem 0;
  }
}
.destination-properties {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  @media only screen and (max-width: $bp-medium) {
    padding: 1rem 0;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.data-time {
  padding-left: 6rem;
  & *:not(:last-child) {
    margin-bottom: 1rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding-left: 0;
  }
}
.data-distance {
  & *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
